<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>collect0</string>
	<string>collect1</string>
	<string>collect2</string>
	<string>collect3</string>
	<string>collect4</string>
	<string>collect5</string>
	<string>collect6</string>
	<string>collect7</string>
	<string>collect8</string>
	<string>collect9</string>
	<string>collect10</string>
	<string>collect11</string>
	<string>collect12</string>
	<string>collect13</string>
	<string>collect14</string>
</array>
</plist>
