<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>关注</string>
	<string>推荐</string>
	<string>热点</string>
	<string>视频</string>
	<string>南京</string>
	<string>社会</string>
	<string>头条号</string>
	<string>娱乐</string>
	<string>回答</string>
	<string>图片</string>
	<string>科技</string>
	<string>汽车</string>
	<string>体育</string>
	<string>财经</string>
	<string>军事</string>
	<string>国际</string>
	<string>段子</string>
	<string>趣图</string>
	<string>街拍</string>
	<string>健康</string>
	<string>正能量</string>
	<string>特卖</string>
	<string>房产</string>
	<string>育儿</string>
	<string>搞笑</string>
	<string>美食</string>
	<string>养生</string>
	<string>数码</string>
	<string>情感</string>
	<string>小视频</string>
</array>
</plist>
