<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>titles</key>
		<string>(默认)普通界面</string>
		<key>viewControllers</key>
		<string>MJCDemoClassicVC</string>
	</dict>
	<dict>
		<key>titles</key>
		<string>普通界面</string>
		<key>viewControllers</key>
		<string>MJCDemoClassicVC1</string>
	</dict>
</array>
</plist>
