<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>titles</key>
		<string>穿透标题栏效果</string>
		<key>viewControllers</key>
		<string>MJCSpecialDemoVC0</string>
	</dict>
	<dict>
		<key>titles</key>
		<string>实时刷新数据,并且传送数据的方法</string>
		<key>viewControllers</key>
		<string>MJCSpecialDemoVC1</string>
	</dict>
	<dict>
		<key>titles</key>
		<string>xib创建此框架控件的使用</string>
		<key>viewControllers</key>
		<string>MJCSpecialDemoVC2</string>
	</dict>
	<dict>
		<key>titles</key>
		<string>切换选中的item页码</string>
		<key>viewControllers</key>
		<string>MJCSpecialDemoVC3</string>
	</dict>
	<dict>
		<key>titles</key>
		<string>如何使用同一类型的控制器</string>
		<key>viewControllers</key>
		<string>MJCSoecialDemoVC4</string>
	</dict>
	<dict>
		<key>titles</key>
		<string>简单的控制器数据传输</string>
		<key>viewControllers</key>
		<string>MJCSoecialDemoVC5</string>
	</dict>
	<dict>
		<key>titles</key>
		<string>设置请求过来的标题数据</string>
		<key>viewControllers</key>
		<string>MJCSoecialDemoVC6</string>
	</dict>
	<dict>
		<key>titles</key>
		<string>如何在tabitem上面添加一个控件</string>
		<key>viewControllers</key>
		<string>MJCSoecialDemoVC7</string>
	</dict>
	<dict>
		<key>titles</key>
		<string>各个代理方法使用,配合使用</string>
		<key>viewControllers</key>
		<string>MJCSoecialDemoVC8</string>
	</dict>
	<dict>
		<key>titles</key>
		<string>其他页面进行操作之后,切换顶部item</string>
		<key>viewControllers</key>
		<string>MJCSoecialDemoVC9</string>
	</dict>
	<dict>
		<key>titles</key>
		<string>特殊样式自适应效果</string>
		<key>viewControllers</key>
		<string>MJCSoecialDemoVC10</string>
	</dict>
	<dict>
		<key>titles</key>
		<string>标题栏停留在导航栏的下方</string>
		<key>viewControllers</key>
		<string>MJCSoecialDemoVC11</string>
	</dict>
</array>
</plist>
